@model IEnumerable<MerchandiseSport.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card col-lg-4" style="width: 18rem;">
                <img src="@product.ProductImage" class="card-img-top" alt="no">
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Price</p>
                    <p class="card-text">@product.Size</p>
                    <p class="card-text">@product.CreationDate</p>
                    <a  asp-controller="Products" asp-action="Details" asp-route-id="@product.SerialNumber" class="btn btn-primary">Look on product details</a> 
                    @if (Context.User.IsInRole("Admin"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@product.SerialNumber">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.SerialNumber">Delete</a>

                    </div>
                }
                </div>
            </div>
        }
    </div>
</div>